{% extends 'base.html' %}
{% block content %}
<ul>
<h1> ARTIST</h1>
    <table class="w3-table-all">
    <tr>
        <th align="left">Artist ID</th>
        <th align="left">Artist name</th>
        <th align="left">Album count</th>
    </tr>
        {%for result in results %}
            <tr>
                <td>{{ result.artist_id }} </td>
                <td>{{ result.artistname }}</td>
                <td><a href="/getalbums/?id={{ result.artist_id }}">{{ albumcount }}</a></td>
            </tr>
            {% endfor %}
    </table>
</ul>
{% endblock %}