{% extends 'base.html' %}
{% block content %}
<ul>
<h1> ARTIST</h1>
    <table class="w3-table-all">
    <tr>
        <th align="left">Artist ID</th>
        <th align="left">Artist name</th>
        <th align="left">Album count</th>
    </tr>
        {%for result in results %}
            <tr>
                <td>{{ result.artist_id }} </td>
                <td>{{ result.artistname }}</td>
                <td><a href="/getalbums/?id={{ result.artist_id }}">{{ albumcount }}</a></td>
            </tr>
            {% endfor %}
    </table>
    <table class="w3-table-all">
    <tr>

        <th style="width:10%"" align="left">Song ID</th>
        <th style="width:50%" align="left">Song name</th>
        <th style="width:40%" align="left">Album</th>
    </tr>
        {%for song in songs %}
            <tr>
                <td>{{ song.song_id }} </td>
                <td>{{ song.title }}</td>
                <td>{{ song.albumname }}</td>
            </tr>
            {% endfor %}
    </table>
</ul>
    <div class="pagination">
    <span class="step-links">
        {% if songs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ songs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ songs.number }} of {{ songs.paginator.num_pages }}.
        </span>

        {% if songs.has_next %}
            <a href="?page={{ songs.next_page_number }}">next</a>
            <a href="?page={{ songs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}