{% extends 'base.html' %}
{% block content %}
    <div class="w3-container">
        <h2>{{ albumname }}</h2>
        <h3>{{ results.0.artistname }}</h3>
        <h4>{{ albumfolder }}</h4>
        <table class="w3-table-all">
        <tr>
            <th align="left">Song ID</th>
            <th align="left">Song name</th>
            <th align="left">Artist id</th>
        </tr>
            {%for song in results %}
                <tr>
                    <td> {{ song.song_id }}</td>
                    <td>{{ song.title }}</td>
                    <td><a href="/artist/?id={{ song.artist_id }}">{{ song.artist_id }}</a></td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}