{% extends 'base.html' %}
{% block content %}
    <H1>Albums by {{ artist_name.artistname }}</H1>
    <div class="w3-container">
        <table>
        <tr>
            <th align="left">Album ID</th>
            <th align="left">Album name</th>
            <th align="left">Tracks</th>
        </tr>
            {%for album in result %}
                <tr>
                    <td> {{ album.album_id }}</td>
                    <td><a href="/getalbum_tracks/?id={{ album.album_id }}">{{ album.name }}</a></td>
                    <td> {{ album.count }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if result.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ result.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}">next</a>
            <a href="?page={{ result.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}