{% extends 'base.html' %}
{% block content %}
    <h1>In database:</h1>
    <h2> Files: {{ results.Files }}</h2>
    <h2>Artist: {{ results.Artists }} </h2>
    <h2>Album artists: {{ results.Albumartists }} </h2>
    <h2>Albums: {{ results.Albums }} </h2>
    <h2>Genres: {{ results.Genres }}</h2>
    <div class="w3-container">
        <p>
        <form action="/search/" method="get" class="w3-container">
            <label>artist</label>
            <input class="w3-input w3-border-0" type="text" name="q">
            <input type="submit" value="Search">
        </form>
        </p>

        <form action="artist/" class="w3-container">
            <label>artist_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit"  value="artist_id">
        </form>
        </p>
            <p>
            <form action="getalbums/"  class="w3-container">
            <label>album_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit" value="album_id">
            </form>
            </p>
        </p>
        <p>
        <form action="getalbum_tracks/" class="w3-container">
            <label>artist_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit"  value="artist_id">
        </form>
        <p>rescan database
        <form action="rescan_db/">
            path: <input type="text" name="path">
            <input type="submit"  value="Scan">
        </form>
        </p>
        <table class="w3-table-all">
        <tr>
            <th align="left">Genre</th>
            <th align="left">Count</th>
        </tr>
                {%for items in genres_stats %}
                <tr>
                    <td> {{ items.genre }}</td>
                    <td>{{ items.count }}</td>
                </tr>
                {% endfor %}
        </table>

    </div>
{% endblock %}