{% extends 'base.html' %}
{% block content %}
{% if error %}
<h1 >Please submit a search term.</h1>
{% endif %}
    <div class="w3-container">
        <p>
        <form action="/search/" method="get" class="w3-container">
            <label>artist</label>
            <input class="w3-input w3-border-0" type="text" name="q">
            <input type="submit" value="Search">
        </form>
        </p>

        <form action="artist/" class="w3-container">
            <label>artist_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit"  value="artist_id">
        </form>
        </p>
            <p>
            <form action="getalbums/"  class="w3-container">
            <label>album_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit" value="album_id">
            </form>
            </p>
        </p>
        <p>
        <form action="getalbum_tracks/" class="w3-container">
            <label>artist_id</label>
            <input class="w3-input w3-border-0" type="text" name="id">
            <input type="submit"  value="artist_id">
        </form>
        <p>rescan database
        <form action="rescan_db/">
            path: <input type="text" name="path">
            <input type="submit"  value="Scan">
        </form>
        </p>
    </div>
{% endblock %}